body {
  background: linear-gradient(to right, yellow , red);
}

h1 {
  text-align: center;
  color: white;
}

.color-pickers {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input {
  margin: 10px;
}

.card {
  background-color: black;
  position: absolute;
  top: 50%;
  margin-top: -110px;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  height: 220px;
}

.center {
  text-align: center;
}
